/* Style inputs with type="text", select elements and textareas */
input[type=text], select {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
  }

  /* Style the submit button with a specific outline color etc */
  input[type=submit] {
    display: inline-block;
    text-decoration: none;
    color: #087745;
    border: 2px solid #04AA6D;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
  }

  /* When moving the mouse over the submit button, fill button with a green color */
  input[type=submit]:hover {
    background-color: #45a049;
    border: 1px solid #087745;
    transition: 1s;
    color: #fff;
  }

  /* Add a background color and some padding around the form */
  .container1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }



  /* TEST */
.wrapper{
  width: 100%;
  background: #fff;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}
.wrapper .title{
  color: #fff;
  line-height: 65px;
  text-align: center;
  background: var(--primary-color);
  font-size: 25px;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
}
.wrapper .box{
  padding: 20px 30px;
  background: #fff;
  border-radius: 10px;
}
.wrapper .box label{
  display: flex;
  height: 53px;
  width: 100%;
  align-items: center;
  border: 1px solid lightgrey;
  margin: 10px 0;
  padding-left: 20px;
  cursor: default;
  transition: all 0.3s ease;
}
#option-1:checked ~ .option-1,
#option-2:checked ~ .option-2,
#option-3:checked ~ .option-3{
  background: var(--primary-color);
  border-color: var(--primary-color);
}
.wrapper .box label .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease;
}
#option-1:checked ~ .option-1 .dot,
#option-2:checked ~ .option-2 .dot,
#option-3:checked ~ .option-3 .dot{
  background: #fff;
}
.box label .dot::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
#option-1:checked ~ .option-1 .dot::before,
#option-2:checked ~ .option-2 .dot::before,
#option-3:checked ~ .option-3 .dot::before{
  background: var(--primary-color);
  transform: translate(-50%, -50%) scale(1);
}
.wrapper .box label .text{
  color: #333;
  font-size: 18px;
  font-weight: 400;
  padding-left: 10px;
  transition: color 0.3s ease;
}
#option-1:checked ~ .option-1 .text,
#option-2:checked ~ .option-2 .text,
#option-3:checked ~ .option-3 .text{
  color: #fff;
}
.wrapper .box input[type="radio"]{
  display: none;
}
